.vscode
**/build
cp_plugin.sh
TEST_CONFIG.json5
.bin

zenoh-ts/dist
zenoh-ts/node_modules
zenoh-ts/package-lock.json
zenoh-ts/examples/web/src/index.js
zenoh-ts/cjs/
zenoh-ts/esm/

zenoh-plugin-remote-api/target/** 
zenoh-plugin-remote-api/bindings/** 

zenoh-keyexpr-wasm/pkg/** 

**/target/** 
**/node_modules/** 
**/dist/**
